server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nyaysetu_auth
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: auth-service

jwt:
  # generate 256-bit key base64 for dev. keep secret in vault for prod.
  secret: "4YMH8Dj0nsCFZvejRddrFBuF6eiHihhfaTD2iJd6T1M="