server:
  port: 8080

spring:
  application:
    name: gateway-service
    security:
      oauth2:
        resourceserver:
          jwt:
            jwk-set-uri: http://localhost:8081/auth/jwks
            secret-key: "76U4Z85+zjZNNtI0fEBpON3TJxFzhsX3cyTuJbJ5wOE="

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"

      routes:

        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: case-service
          uri: http://localhost:8082
          predicates:
            - Path=/cases/**
          filters:
            - StripPrefix=1

        - id: document-service
          uri: http://localhost:8083
          predicates:
            - Path=/documents/**
          filters:
            - StripPrefix=1

        - id: meeting-service
          uri: http://localhost:8084
          predicates:
            - Path=/meetings/**
          filters:
            - StripPrefix=1

        - id: ai-service
          uri: http://localhost:8085
          predicates:
            - Path=/ai/**
          filters:
            - StripPrefix=1

        - id: audit-service
          uri: http://localhost:8086
          predicates:
            - Path=/audit/**
          filters:
            - StripPrefix=1

        - id: user-verification-service
          uri: http://localhost:8087
          predicates:
            - Path=/verify/**
          filters:
            - StripPrefix=1


