server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

      routes:

        # ---------------------- AUTH SERVICE ----------------------
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=0

        # ---------------------- AI SERVICE ----------------------
        - id: ai-service
          uri: lb://AI-SERVICE
          predicates:
            - Path=/ai/**
          filters:
            - StripPrefix=0

        # ---------------------- AUDIT SERVICE ----------------------
        - id: audit-service
          uri: lb://AUDIT-SERVICE
          predicates:
            - Path=/audit/**
          filters:
            - StripPrefix=0

        # ---------------------- CASE SERVICE ----------------------
        - id: case-service
          uri: lb://CASE-SERVICE
          predicates:
            - Path=/cases/**
          filters:
            - StripPrefix=0

        # ---------------------- DOCUMENT SERVICE ----------------------
        - id: document-service
          uri: lb://DOCUMENT-SERVICE
          predicates:
            - Path=/documents/**
          filters:
            - StripPrefix=0

        # ---------------------- MEETING SERVICE ----------------------
        - id: meeting-service
          uri: lb://MEETING-SERVICE
          predicates:
            - Path=/meetings/**
          filters:
            - StripPrefix=0

        # ---------------------- USER VERIFICATION ----------------------
        - id: user-verification-service
          uri: lb://USER-VERIFICATION-SERVICE
          predicates:
            - Path=/verify/**
          filters:
            - StripPrefix=0

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://auth-service:8081/auth/jwks

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
