server:
  port: 8086

spring:
  application:
    name: audit-service
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka

  datasource:
    url: jdbc:postgresql://localhost:5432/nyaysetu
    username: postgres
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
