server:
  port: 8083

spring:
  application:
    name: document-service
    eureka:
      client:
        service-url:
          defaultZone: http://localhost:8761/eureka
  datasource:
    url: jdbc:postgresql://localhost:5432/nyaysetu_documents
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
file:
  upload-dir: uploads/documents/