server:
  port: 8082

spring:
  application:
    name: case-service
    eureka:
      client:
        service-url:
          defaultZone: http://localhost:8761/eureka
  datasource:
    url: jdbc:postgresql://localhost:5432/nyaysetu_case
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always