server:
  port: 8082

spring:
  application:
    name: case-service
  datasource:
    url: jdbc:postgresql://localhost:5432/nyaysetu_case
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true