aws_region          = "us-east-1"
environment         = "production"
vpc_cidr            = "10.0.0.0/16"
public_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
db_instance_class   = "db.t3.micro"
db_username         = "nyaysetu_admin"
db_password         = "ChangeMeInProduction123!"
